/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}


html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	font-family: 'Switzer', sans-serif;
}


#topBtn{
	position: fixed;
	bottom: 0;
	right: 2%;
	z-index: 1;
	margin-bottom: 1.25rem;
}

.bg-grid{
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top;
}





.flare{
	z-index: 0;
    width: 500px;
    height: 500px;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(80px);
    position: absolute;
    right: 15%;
    top: 5%;
    background: linear-gradient(90deg, rgba(1, 135, 253, 0.208) 0%, rgba(2,250,214,1) 100%);
    -webkit-animation: zoomInOut 5s infinite;
    animation: zoomInOut 5s infinite;
	mix-blend-mode: screen;
	}
	.flare2{
	z-index: 0;
    width: 600px;
    height: 500px;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
    right: 5%;
    top: 5%;
    background: linear-gradient(90deg, rgba(35, 0, 66, 0.411) 0%, rgba(2,250,214,1) 100%);
    -webkit-animation: zoomInOut 5s infinite;
    animation: zoomInOut 5s infinite;
	mix-blend-mode: screen;
	}
	.flare3{
	z-index: 0;
    width: 600px;
    height: 500px;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(120px);
    position: fixed;
    left: 5%;
    top: 20%;
    background: linear-gradient(90deg, rgba(1, 49, 144, 0.822) 0%, rgba(2,250,214,1) 100%);
    -webkit-animation: zoomInOut 5s infinite;
    animation: zoomInOut 5s infinite;
	mix-blend-mode: screen;
	}
	.flare4{
	z-index: 0;
    width: 600px;
    height: 600px;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(220px);
    position: absolute;
    left: 0;
	right: 0;
    top: -5%;
    background: linear-gradient(90deg, rgba(5, 151, 204, 0.822) 0%, rgba(2,250,214,1) 100%);
    -webkit-animation: zoomInOut 5s infinite;
    animation: zoomInOut 5s infinite;
	mix-blend-mode: screen;
	}
	.flare5{
	z-index: 0;
    width: 600px;
    height: 500px;
    opacity: 0.3;
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
    left: -15%;
    top: -20%;
    background: linear-gradient(90deg, rgba(1, 49, 144, 0.822) 0%, rgba(2,250,214,1) 100%);
    -webkit-animation: zoomInOut 5s infinite;
    animation: zoomInOut 5s infinite;
	mix-blend-mode: screen;
	}

	@media only screen and (max-width: 768px) {
		.flare{
			z-index: 0;
			width: 100px;
			height: 100px;
			opacity: 0.5;
			border-radius: 50%;
			filter: blur(80px);
			position: absolute;
			right: 15%;
			top: 5%;
			background: linear-gradient(90deg, rgba(1, 135, 253, 0.208) 0%, rgba(2,250,214,1) 100%);
			mix-blend-mode: screen;
		}
		.flare2{
		z-index: 0;
		width: 200px;
		height: 100px;
		opacity: 0.5;
		border-radius: 50%;
		filter: blur(120px);
		position: absolute;
		right: 5%;
		top: 5%;
		background: linear-gradient(90deg, rgba(35, 0, 66, 0.411) 0%, rgba(2,250,214,1) 100%);
		mix-blend-mode: screen;
		}
		.flare3{
		z-index: 0;
		width: 200px;
		height: 100px;
		opacity: 0.5;
		border-radius: 50%;
		filter: blur(120px);
		position: fixed;
		left: 5%;
		top: 20%;
		background: linear-gradient(90deg, rgba(1, 49, 144, 0.822) 0%, rgba(2,250,214,1) 100%);
		mix-blend-mode: screen;
		}
		.flare4{
		z-index: 0;
		width: 200px;
		height: 200px;
		opacity: 0.5;
		border-radius: 50%;
		filter: blur(220px);
		position: absolute;
		left: 0;
		right: 0;
		top: -5%;
		background: linear-gradient(90deg, rgba(5, 151, 204, 0.822) 0%, rgba(2,250,214,1) 100%);
		mix-blend-mode: screen;
		}
		.flare5{
		z-index: 0;
		width: 200px;
		height: 100px;
		opacity: 0.3;
		border-radius: 50%;
		filter: blur(120px);
		position: absolute;
		left: -15%;
		top: -20%;
		background: linear-gradient(90deg, rgba(1, 49, 144, 0.822) 0%, rgba(2,250,214,1) 100%);
		mix-blend-mode: screen;
		}
	}



.pulsate-bck {
	-webkit-animation: pulsate-bck 10s ease-in-out infinite both;
	        animation: pulsate-bck 10s ease-in-out infinite both;
}





@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
			transform: translate(0);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
			transform: translate(50px, 50px);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
			transform: translate(0);
  }
}

.noise{
    pointer-events: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeat center center url(/noise.svg);
    background-size: 14%;
    opacity: .9;
    mix-blend-mode: color-dodge;
	filter: invert();
  }

textarea{
	resize:none !important;
}



.blogLayout h1{
	font-size: 2.5rem !important;
	line-height: 1 !important;
	margin: 12px 0;
	font-weight: bold;
}
.blogLayout h2{
	font-size: 2rem !important;
	line-height: 2.5rem !important;
	margin: 12px 0;
	font-weight: 600;
}
.blogLayout h3{
	font-size: 1.675rem !important;
	line-height: 2.25rem !important;
	margin: 12px 0;
}
.blogLayout h4{
	font-size: 1.5rem !important;
	line-height: 2rem !important;
	margin: 12px 0;
}
.blogLayout h5{
	font-size: 1.25rem !important;
	line-height: 1.75rem !important;
	margin: 12px 0;
}
.blogLayout h6{
	font-size: 1.125rem !important;
	line-height: 1.75rem !important;
	margin: 12px 0;

}
.blogLayout pre{
	padding: 1.5rem;
	margin: 1.5rem 0;

}

.blogLayout p{
	max-width: 80ch !important;
	line-height: 1.8rem !important;

}

.blogLayout a{
	color: #009664 !important;
	text-decoration: underline;
}

.blogLayout ul {
	list-style: disc;
	margin: 1rem 2rem;
}

.blogLayout ul li{
	margin-bottom: 1rem;
}

.main-color{
	background-color: rgba(2,250,214,1);
}

@keyframes lights {
  0% {
    text-shadow:
      0 0 1em hsla(145, 100%, 50%, 0.2),
      0 0 0.125em hsla(142, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(174, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    text-shadow:
      0 0 1em hsla(130, 100%, 50%, 0.5),
      0 0 0.125em hsla(158, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(192, 100%, 60%, 0.1),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.3);
  }
  
  40% { 
    text-shadow:
      0 0 1em hsla(120, 100%, 50%, 0.5),
      0 0 0.125em hsla(127, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(158, 100%, 60%, 0.1),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.3);
  }
  
  70% {
    text-shadow:
      0 0 1em hsla(145, 100%, 50%, 0.611),
      0 0 0.125em hsla(120, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(186, 100%, 60%, 0.1),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.3);
  }
  
  100% {
    text-shadow:
      0 0 1em hsla(156, 100%, 50%, 0.2),
      0 0 0.125em hsla(131, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(153, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}


.idea {
  margin: auto;
  animation: lights 6s linear infinite;
  animation-delay: 5s;
}



