---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre m칤"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Soy desarrollador front-end con experiencia en dise침o de interfaces, trabajo remotamente para Avaya desde Bogot치. Estudi칠 ingenier칤a inform치tica y publicidad en Venezuela gradu치ndome de esta 칰ltima. Estoy especializado en la interacci칩n que tienen los usuarios con la plataforma web, desde su dise침o hasta su desarrollo, as칤 como en usabilidad, rendimiento y accesibilidad.
		<br><br>
		Me apasiona la transformaci칩n digital y las experiencias multimedia como la RV, la RA y el desarrollo m칩vil.
		<br><br>
		Cuando no estoy desarrollando, puedes encontrarme saltando a la comba en el gimnasio 游눩游낗, jugando 游꿡 o viendo el f칰tbol 丘쬂잺.
	</p>
	
	<h2 class="mt-16 text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Experiencia</h2>
	<hr />
	<section class="max-w-screen-lg mx-auto relative mt-4 px-6 lg:px-8">
		<ol class="relative border-l border-gray-200 dark:border-gray-700">
		  <li class="mb-10 ml-6">
			<span
			  class="absolute flex items-center justify-center w-6 h-6 bg-tiber-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-tiber-900"
			>
			  <svg
				class="w-2.5 h-2.5 text-tiber-800 dark:text-tiber-300"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 20 20"
			  >
			  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
			  </svg>
			</span>
			<h3
			  class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
			>
			Frontend Developer <span
				class="bg-tiber-100 text-tiber-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-tiber-900 dark:text-tiber-300 ml-3"
				>Actualmente</span>
			</h3>
			<time
			  class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
			  >Avaya | Junio 2020 | Bogot치, CO</time
			>
			<p
			  class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
			>
				Mezcla de dise침ador UX/UI y desarrollador Frontend en Avaya, compa침칤a de telecomunicaciones l칤der en soluciones de contact center a nivel mundial. Aqu칤 es donde aprend칤: 
				<span class="text-tiber-700 dark:text-tiber-300">
					<b>#React</b> <b>#Astro</b> <b>#Tailwind</b> <b>#CSSAvanzado</b> <b>#DesignSystems</b>
				</span>
			</p>
		  </li>
		  <li class="mb-10 ml-6">
			<span
			  class="absolute flex items-center justify-center w-6 h-6 bg-tiber-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-tiber-900"
			>
			  <svg
				class="w-2.5 h-2.5 text-tiber-800 dark:text-tiber-300"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 20 20"
			  >
			  <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
			  </svg>
			</span>
			<h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
				UX / UI Designer
			</h3>
			<time
			  class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
			  >Masiv | Ene 2020 - Mayo 2020 | Bogot치, CO</time
			>
			<p class="text-base font-normal text-gray-500 dark:text-gray-400">
				Masiv es una compa침ia que desarrolla productos web para env칤o de comunicaciones masivas con sede en Bogot치, Per칰 y M칠xico. Aqu칤 es donde aprend칤: 
				<span class="text-tiber-700 dark:text-tiber-300">
					<b> #AtomicDesign</b> <b>#UXAvanzado</b> <b>#ProductDesign</b>
				</span>
			</p>
		  </li>
		  <li class="ml-6">
			<span
			  class="absolute flex items-center justify-center w-6 h-6 bg-tiber-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-tiber-900"
			>
			  <svg
				class="w-2.5 h-2.5 text-tiber-800 dark:text-tiber-300"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 20 20"
			  >
			  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
			  </svg>
			</span>
			<h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
				Frontend Developer
			</h3>
			<time
			  class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
			  >Indexcol | Octubre 2019 - Enero 2020 | Bogot치, CO</time
			>
			<p class="text-base font-normal text-gray-500 dark:text-gray-400">
				Indexcol es una agencia digital que desarrolla webs en Bogot치 para grandes marcas internacionales. Aqu칤 es donde aprend칤: 
				<span class="text-tiber-700 dark:text-tiber-300">
					<b>#HTML</b> <b>#CSS</b> <b>#JavaScript</b> <b>#EmailDevelopment</b>
				</span>
			</p>
		  </li>
		</ol>
	</section>



</Layout>
