---
import Layout from '../layouts/BlogPost.astro';
import TimeLine from '../components/TimeLine.astro';
---

<Layout
	title="Sobre m칤"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/avila.jpg"
	url='https://www.linkedin.com/in/gustavo-avila-2a153311b/'
>
	<p>
		Soy desarrollador front-end con experiencia en dise침o de interfaces, trabajo remotamente para Avaya desde Bogot치. Estudi칠 ingenier칤a inform치tica y publicidad en Venezuela gradu치ndome de esta 칰ltima. Estoy especializado en la interacci칩n que tienen los usuarios con la plataforma web, desde su dise침o hasta su desarrollo, as칤 como en usabilidad, rendimiento y accesibilidad.
		<br><br>
		Me apasiona la transformaci칩n digital y las experiencias multimedia como el 3D, la VR y la AR.
		<br><br>
		Cuando no estoy desarrollando, puedes encontrarme saltando a la comba en el gimnasio 游눩游낗, jugando algun videojuego 游꿡 o viendo el f칰tbol 丘쬂잺.
	</p>
	
	<div class="mt-16">
		<h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Experiencia</h2>
		<hr class="dark:border-gray-800" />
		<br>
	</div>
	<TimeLine />
	


</Layout>
