---
import Layout from '../layouts/BlogPost.astro';
import TimeLine from '../components/TimeLine.astro';
---

<Layout
	title="Sobre m칤"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/avila.jpg"
	url='https://www.linkedin.com/in/gustavo-avila-2a153311b/'
>
	<p>
		Mi nombre es Gustavo Avila. S칤, Avila, como la monta침a de mi ciudad natal Caracas. Soy un apasionado por el dise침o de productos y proyectos de gran envergadura, con experiencia en dise침o UX/UI y front-end. Mi enfoque es crear soluciones visuales atractivas y altamente funcionales que mejoren la experiencia del usuario. Estoy listo para enfrentar desaf칤os ambiciosos y contribuir a equipos que compartan mi visi칩n de la innovaci칩n y la excelencia en el dise침o.
		<br><br>
		Tambien me apasionan las experiencias multimedia como el 3D, la VR y la AR. Actualmente me encuentro experimentando con la WebAR, mi meta es crear experiencias m치s inmersivas en el entorno web.
		<br><br>
		Cuando no estoy desarrollando o dise침ando, puedes encontrarme saltando a la comba en el gimnasio 游눩游낗, jugando algun videojuego 游꿡 o viendo el f칰tbol 丘쬂잺.
	</p>
	
	<div class="mt-16">
		<h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Experiencia</h2>
		<hr class="dark:border-gray-800" />
		<br>
	</div>
	<TimeLine />
	


</Layout>
