---
const today = new Date();
---

<div class="p-5">
	<footer class="max-w-5xl mx-auto relative p-4 bg-white dark:bg-shark-900 shadow-md sm:rounded-2xl   border border-gray-200 dark:border-gray-800">
		<p class="text-base text-center text-gray-900 dark:text-white">&copy; {today.getFullYear()} - Web diseñada y programada por <a class="underline decoration-solid" href="https://www.linkedin.com/in/gustavo-avila-2a153311b/">Gustavo Avila</a> usando Astro 🚀.</p>
		
	</footer>
</div>

