---
import HeaderLink from './HeaderLink.astro';
import Button from './Button.astro';
import { SITE_TITLE } from '../consts';
---

<header class="pt-4">

<nav class="navbar max-w-5xl mx-auto relative z-20 px-4 py-1 bg-white dark:bg-shark-950 shadow-md sm:rounded-3xl   border border-gray-200 dark:border-gray-800">
	<div class="max-w-screen-lg flex flex-wrap items-center justify-between mx-auto p-2">
	<a href="/" class="flex items-center">
		<img src="/logo-g.png" class="h-12 h mr-3 rounded-full" alt="Gustavo Logo" />
		<h2 class="hidden lg:block font-bold text-gray-700 dark:text-gray-50   md:text-left px-18 md:px-0">Gustavo Avila</h2>
	</a>
	<div class="flex md:order-2 items-center gap-4">
		
		<Button url='#form' text='Contáctame' />

		<button data-collapse-toggle="navbar-cta" type="button" class="order-last inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
			  <span class="sr-only">Abrir menú</span>
			  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
			  </svg>
		</button>
		<div>
			<button id="theme-toggle" type="button" class="border border-gray-300 text-gray-500 dark:text-gray-400 hover:bg-spring-green-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">

				<svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-moon-stars"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /><path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2" /><path d="M19 11h2m-1 -1v2" /></svg>

				<svg id="theme-toggle-light-icon" class="hidden w-6 h-6" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
			</button>
		</div>
	</div>
	<div class="text-center items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
	  <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0">
		<li class="text-gray-700 dark:text-white hover:text-spring-green-600 hover:dark:text-spring-green-100 transition-colors">
			<HeaderLink href="/">Inicio</HeaderLink>
		</li>
		<li class="text-gray-700 dark:text-white hover:text-spring-green-600 hover:dark:text-spring-green-100 transition-colors">
			<HeaderLink href="/about">Sobre mí</HeaderLink>
		</li>
		<li class="text-gray-700 dark:text-white hover:text-spring-green-600 hover:dark:text-spring-green-100 transition-colors">
			<HeaderLink href="/blog">Blog</HeaderLink>
		</li>
	  </ul>
	</div>
	</div>
  </nav>
</header>

<style>



.navDown{
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 111;
	transition: all .3s ease;
	border-radius: 0 0 1.5rem 1.5rem !important;
	z-index: 100;
	mix-blend-mode: initial;
}
</style>



