<section class="max-w-screen-lg mx-auto relative mt-4 px-6 lg:px-8">
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-green-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-green-900"
        >
          <svg
            class="w-2.5 h-2.5 text-green-800 dark:text-green-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
          </svg>
        </span>
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
          Senior Graphic Web Designer
         <span
            class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 ml-3"
            >Actualmente</span>
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >Avaya | Junio 2020 | Bogotá, CO</time
        >
        <p
          class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
        >
            Mezcla de diseñador UX/UI y desarrollador Frontend en Avaya, compañía de telecomunicaciones líder en soluciones de contact center a nivel mundial. Aquí es donde aprendí: 
            <span class="text-green-700 dark:text-green-300">
                <b>#React</b> <b>#Astro</b> <b>#Tailwind</b> <b>#CSSAvanzado</b> <b>#DesignSystems</b>
            </span>
        </p>
      </li>
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-green-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-green-900"
        >
          <svg
            class="w-2.5 h-2.5 text-green-800 dark:text-green-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
          <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          UX / UI Designer
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >Masiv | Ene 2020 - Mayo 2020 | Bogotá, CO</time
        >
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Masiv es una compañia que desarrolla productos web para envío de comunicaciones masivas con sede en Bogotá, Perú y México. Aquí es donde aprendí: 
            <span class="text-green-700 dark:text-green-300">
                <b> #AtomicDesign</b> <b>#UI</b> <b>#UXAvanzado</b> <b>#ProductDesign</b>
            </span>
        </p>
      </li>
      <li class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-green-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-green-900"
        >
          <svg
            class="w-2.5 h-2.5 text-green-800 dark:text-green-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
          <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          Web Designer
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >Indexcol | Octubre 2019 - Enero 2020 | Bogotá, CO</time
        >
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          Indexcol es una agencia digital que desarrolla webs en Bogotá para grandes marcas internacionales. Aquí es donde aprendí: 
          <span class="text-green-700 dark:text-green-300">
              <b>#HTML</b> <b>#CSS</b> <b>#JavaScript</b> <b>#EmailDevelopment</b>
          </span>
        </p>
      </li>
      <li class="ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-green-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-green-900"
        >
          <svg
            class="w-2.5 h-2.5 text-green-800 dark:text-green-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
          <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          Marketing Data Analyst
        </h3>
        <time
          class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >CMCMax | Marzo 2018 - Marzo 2019 | Caracas, VE</time
        >
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            CMCMax es una agencia digital de marketing 360 para grandes marcas en USA. Aquí es donde aprendí: 
            <span class="text-green-700 dark:text-green-300">
                <b>#AnálisisDeDatos</b> <b>#SocialMedia</b> <b>#Web</b> <b>#SEM</b> <b>#SEO</b>
            </span>
        </p>
      </li>
    </ol>
</section>