---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Form from '../components/Form.astro';
import FabTop from '../components/FabTop.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, url, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-gray-50 dark:bg-gray-900 relative">
		<div class="bg-white dark:bg-gray-900 max-w-screen-xl mx-auto border  border-gray-200 dark:border-gray-800">
		<Header />
		<main class="max-w-screen-lg mx-auto">
			<article class="p-6">
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose my-12">
					<div class="title mt-8">
						<h2 class="text-center text-gray-900 dark:text-white text-4xl font-extrabold mb-2">{title}</h2>
						<p class="text-base text-center text-gray-900 dark:text-white">Estoy revisando tu información y me pondré en contacto contigo muy pronto.</p>
						<div class="text-center mt-8">
							<a href="/"
              target="_blank" type="button" class="transition-all w-full md:w-32 duration-75 delay-0 ease-in-out text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Regresar</a>
						</div>
					</div>
					<div class="blogLayout mt-4 text-lg font-normal text-gray-900 dark:text-gray-50">
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />

		</div>
	</body>
</html>
